<h2>Books Index</h2>

<% @books.each do |book| %>
  <section id="book-<% book.id %>">
    <p>
      Title: <%= book.title %><br/>
      Author: <%= book.author.name %><br/>
      Publication Year: <%= book.publication_year %><br/>
      Pages: <%= book.pages %>
    </p>
  </section>
<% end %>
